<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <appender-ref ref="PapertrailRemoteSyslogAppender" />
  </root>

  <appender name="PapertrailRemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
    <facility value="Local6" />
    <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} StoneWallet" />
    <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline" />
    <remoteAddress value="logs6.papertrailapp.com" />
    <remotePort value="21658" />
  </appender>
</log4net>